.banner {
  /* base styles */
}

@media screen and (min-width: 900px) {
  .banner {
    display: grid;
    min-height: calc(100vh - 48px);
    grid-template: 1fr repeat(3, 1fr) 1fr / 2em repeat(3, 60px) 1fr 300px 2em 250px .25fr;

    .hop-board {
      grid-column: 3 / span 2;
      grid-row: 1 / span 5;
    }

    > p {
      grid-column: 6 / span 1;
      grid-row: 5 / span 1;
      color: $white;
      text-align: right;
    }

    > .button-container {
      grid-column: 8 / span 1;
      grid-row: 5 / span 1;
    }

    h2 {
      font-family: "Larsseit-Bold";
      grid-column: 2 / span 1;
      grid-row: 2 / span 3;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-transform: uppercase;

      span {
        transform: rotate(-90deg);
        width: 200px;
        margin-bottom: -100px;
        transform-origin: top left;
        font-family: "Larsseit-Bold";
      }
    }

    .triplet-image-container {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: grid;
      grid-template: 40px 40px 1fr 40px / 3fr 40px 40px 1.5fr 1fr 6fr 1fr;
      z-index: -1;
      transform: scaleY(-1);

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
      }

      .clone {
        background-position: center;
        background-size: cover;
        transform: scaleY(-1);

        &:nth-child(1) {
          grid-column: 2 / span 1;
          grid-row: 2 / span 2;
        }

        &:nth-child(2) {
          grid-column: 4 / span 1;
          grid-row: 2 / span 2;
        }

        &:nth-child(3) {
          grid-column: 6 / span 1;
          grid-row: 2 / span 2;
          background-position: 85% center;
        }
      }
    }

    &__image {
      grid-column: 4 / span 6;
      grid-row: 1 / span 5;
      z-index: -1;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
