.button {
  font-family: "Larsseit-Bold";
  border: 6px solid $hopRed;
  padding: 1em 2em .8em;
  text-transform: uppercase;
  display: inline-block;
  color: $black;
  cursor: pointer;
  transition: background .5s;
  letter-spacing: 2px;
  text-align: center;

  &--light {
    color: $white;
    @extend .button;
  }

  &--white {
    color: $white;
    border-color: $white;
    @extend .button;
  }

  &:hover {
    background: $hopRed;
  }
}
