/*
** header.css
** @description: this is an example of a component stylesheet
*/

header {
  background: $black;
  padding: .75em 1em;
  display: grid;
  align-items: center;
  grid-template: 1fr / 5fr 1fr;
}

.logo {
  font-family: "Larsseit-Light";
  grid-column: 1 / span 1;
  color: $white;
  display: flex;
  align-items: center;
  font-size: 1.125em;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 4px; /* adjustment for font-face rendering weirdness */

  i {
    margin-right: .75em;
    margin-top: -4px; /* countering said adjustment ^^^ */
  }

  strong {
    margin-right: .5em;
  }
}

@media screen and (min-width: 900px) {
  header {
    padding: 0 0 0 2em;
    grid-template: 1fr / 1fr 3fr;
  }
}
