img {
  max-width: 100%;
}

.triplet-image-container {
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: #333;
  overflow: hidden;

  .clone {
    position: relative;
    background-color: #555;
  }
}

.triplet-image {
  background-color: #777;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 40vw;
  height: 40vw;
}
