.news-list {
  &__item {
    padding: 4em 0;
    margin: 0 8em;
    text-align: center;
    border-bottom: 1px solid $gray;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    h3 {
      font-size: 3.6em;
      font-family: "Larsseit-Bold";
      margin: .5em 0;

      a {
        color: $hopPurple;
      }
    }

    .date {
      font-family: "Larsseit-Bold";
      text-transform: uppercase;
    }

    p {
      font-size: 1em;
      max-width: 400px;
      margin: 0 auto;
    }

    &--featured {
      margin: 0;
      padding: 8em;
      background: $gray;
      @extend .news-list__item;

      h3 {
        font-size: 4.5em;
      }
    }
  }
}
