.page-title {
  font-size: 2.2em;
  color: $hopBlue;
  text-align: center;
  width: 100%;
  margin-top: 2em;
  font-family: "Larsseit-Bold";

  &--floating {
    position: absolute;
    @extend .page-title;
  }

  + [class*="promo"] {
    margin-top: 3em;
  }
}
