.promo {
  h3 {
    font-family: "Larsseit-Bold";
    font-size: 2em;
  }

  h4 {
    font-size: 1.4em;
    font-family: "Larsseit-Bold";
  }

  dl {
    font-size: 1.2em;
  }

  .button-container {
    margin-top: 2em;
  }

  &--right {
    @extend .promo;
  }

  &--headline {
    @extend .promo;

    h3 a {
      color: $hopPurple;
      transition: color .5s;

      &:hover {
        color: $hopRed;
      }
    }
  }

  &--video {
    @extend .promo--headline;
  }

  &--grid {
    @extend .promo;
  }

  &--photo {
    background-color: $hopBlue;
    color: $white;
    margin: 0;
    padding: 4em 2em 400px;
    position: relative;
    text-align: center;
    @extend .promo--headline;

    &::after {
      content: '';
      height: 400px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: linear-gradient( 180deg, $hopBlue, transparent);
    }

    blockquote {
      font-family: "Larsseit-Bold";
      font-size: 1.6em;
      line-height: 1.2em;
      max-width: 1000px;
      margin: 0 auto 2em;
      position: relative;
      text-align: left;

      .quote::before {
        content: '\201C';
        margin-left: -.6em;
        padding-right: .25em;
      }

      .quote::after {
        content: '\201D';
      }

      span {
        display: block;
        font-size: .6em;
        text-align: right;
        margin-right: 2em;
        line-height: 1.2em;
      }
    }

    .promo__image {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 400px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (min-width: 800px) {
  .promo {
    display: grid;
    grid-template: 2em 1fr 2em / 2em 60px 8fr 2fr 8fr 60px 2em;
    margin-top: 8em;

    > h2 {
      font-family: "Larsseit-Bold";
      text-transform: uppercase;
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      align-self: flex-end;
      width: 140px;
      transform: rotate(-90deg);
      transform-origin: bottom right;
      text-align: right;
      position: relative;
      left: -120px;
      top: -2em;
    }

    h3 {
      font-size: 2.8em;
      font-family: "Larsseit-Bold";
      margin-bottom: 1em;
    }

    .triplet-image-container, .triplet-image {
      grid-column: 3 / span 1;
      grid-row: 1 / span 3;
    }

    .promo__content {
      grid-column: 5 / span 1;
      grid-row: 2 / span 1;
    }

    &--right {
      .triplet-image-container, .triplet-image {
        grid-column: 5 / span 1;
        grid-row: 1 / span 3;
      }

      .promo__content {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
        text-align: right;
      }
    }

    &--headline {
      margin: 8em 0;

      h3 {
        font-size: 6em;
        margin: 0;
      }

      .promo__content {
        grid-column: 2 / span 5;
        grid-row: 1 / span 2;
        text-align: center;
      }
    }

    &--grid {
      [class*="grid"] {
        grid-column: 3 / span 3;
        grid-row: 1 / span 2;
      }

      .button-container {
        grid-column: 3 / span 3;
        grid-row: 3 / span 2;
        text-align: center;
      }
    }

    &--video {

    }

    &--photo {
      padding: 4em 2em 400px;
      margin: 0;

      blockquote {
        font-size: 3em;
        margin-bottom: 1em;

        &::before {
          position: absolute;
          left: 0;
        }

        &::after {
          position: absolute;
          right: 0;
        }

        span {
          font-size: .35em;
        }
      }

      .promo__content p {
        font-size: 1.4em;
      }
    }
  }
}
