<section class="banner">
    <h1 class="hop-board">
      <i class="h">H</i>
      <i class="o">o</i>
      <i class="p">p</i>
      <i class="s">s</i>
      <i class="c">c</i>
      <i class="o2">o</i>
      <i class="t">t</i>
      <i class="c2">c</i>
      <i class="h2">h</i>
    </h1>
    <h2><span>September 7-8, 2017</span> <span>Raleigh, NC</span></h2>
    <div class="banner__image" [ngStyle]="getImage()"></div>
    <p [innerHTML]="data.text"></p>
    <div class="button-container">
      <a href="{{ data.button_link }}" class="button--light">{{ data.button_label }}</a>
    </div>
</section>
