/*
** colors.scss
** @description: utility file that houses all color variables + functions
*/

$primary:   #0af;
$secondary: #0cf;
$black:     #000;
$hopBlue:   #00bfff;
$white:     #fff;
$hopRed:    #fe3d3d;
$hopPurple: #9e3069;
$lightGray: #e8eceb;
$gray:      #aaa;
