/*
** typography.css
** @description: utility stylesheet to set tyopgraphy styles
*/

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, span, blockquote, button {
  font-family: "Larsseit-Light";
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
}

strong {
  font-family: "Larsseit-Bold";

  em {
    font-family: "Larsseit-BoldItalic";
  }
}

em {
  font-family: "Larsseit-Italic";
}

a {
  text-decoration: none;
  color: inherit;
}
